.home-hero {
    background-image: url('http://localhost:30001/unsplash_qom5MPOER-I.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}